name: Deploy to Netlify

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write
  statuses: write
  deployments: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Print current directory and file list
        run: |
          cd ..
          pwd
          ls -la
          echo "-------------------------"

      - name: Checkout repository of portfolio
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.14.0

      - name: Install dependencies by package-lock.json
        run: npm ci
        # run: yarn install

      - name: Build project
        run: npx nuxi generate
        # run: npm run generate
        # run: yarn build:prd

      # - name: Set GitHub Deployment Environment
      #   id: github_deployment_environment
      #   run: |
      #     if [ "$GITHUB_EVENT_NAME" = "push" ]; then
      #       echo "GITHUB_DEPLOYMENT_ENVIRONMENT=Netlify prd" >> "${GITHUB_OUTPUT}"
      #     else
      #       echo "GITHUB_DEPLOYMENT_ENVIRONMENT=Netlify Preview" >> "${GITHUB_OUTPUT}"
      #     fi

      - name: Print current directory and file list
        run: |
          pwd
          ls -la
          echo "-------------------------"

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: './output/public'
          production-branch: master
          # github-deployment-environment: ${{ steps.github_deployment_environment.outputs.GITHUB_DEPLOYMENT_ENVIRONMENT }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: ${{ github.event.head_commit.message || github.event.pull_request.title }}
          alias: deploy-preview-${{ github.event.number }}
          fails-without-credentials: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}